extends layout

block content
  P MOBILE OTP VERIFICATION SIMPLE APP
  form(method="POST" action="/")
    input(name="number" required type="tel" placeholder="18005551234")
    input(type="submit" value="register")